button,
[type="activation-button"] {
    font-weight: 600;
    color:#035a03;
    border-right: 1px solid white;
}

button,
[type="deactivation-button"] {
    font-weight: 600;
    color: #920101;
}

button,
[type="dashboard-button"] {
    font-weight: 600;
    color: #3252a8;
}

.buttons-container{
    display: flex;
    width: 100%;
    margin: 0px auto;
    align-items: stretch;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}
