.App {
  font-family: sans-serif;
  text-align: center;
  color: #000;
  padding: 20px 250px 20px 250px;
}

.result {
  margin-top: 0px;
}

.options {
  cursor: pointer;
  border: 2px solid black;
  padding: 10px;
}

.selected {
  background: #36327d !important;
  color: white;
}

.ul {
  list-style-type: none;
}

.resultTable {
  padding: 20px 100px 20px 100px;
}

.button {
  /* background-color: #36327d; Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 05%;
}

.button:hover {
  background-color: #000;
}

#correctAnswer {
  font-weight: bold;
}
